html,
body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans", sans-serif;
  background-color: #fff;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
section {
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(135deg, #f1f7f9 0%, #c3cfe2 100%);
}

.logo {
  color: black;
  letter-spacing: 1px;
  cursor: pointer;
  float: left;
  font-weight: bolder;
  font-size: 1.7rem;
}

nav {
  background-color: #fff;
  text-align: right;
  padding: 1em;
  position: sticky;
}
nav ul li {
  display: inline;
  margin: 0.5em;
  font-size: large;
}

nav ul li a {
  color: #004f7d;
  text-decoration: none;

  font-size: large;
}

nav ul li a:hover {
  color: #00ade5;
  text-decoration: underline;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

#banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  height: 70%;
  width: 100%;

  background-position: center bottom;
}
.banner {
  padding-left: 5%;
  padding-top: 10%;

  text-align: center;
}
.banner_name {
  font-size: 2em;
  color: #fff;

  margin-top: 8px;
  text-align: left;
}
.banner span {
  color: #fff;
  font-weight: bolder;
}
.heading {
  font-size: 2em;
  color: black;
  font-weight: 900;
  text-align: left;
}
.submit_button {
  background-color: #eee;
  border-color: #005587;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  opacity: 0.8;
}

.submit_button:hover {
  opacity: 1;
}

.programs {
  position: relative;
  top: 20px;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  text-align: left;
}

.contributors {
  font-size: 1.1em;
  font-family: "Product Sans", sans-serif;
  color: #004f7d;
  text-align: left;
  height: auto;

}
.contributors h3 {
  font-size: 2em;
  color: #004f7d;
  text-align: center;
  vertical-align: sub;
  text-transform: capitalize;
  padding: 30px;
  margin-bottom: 0;
}

.team_member_section{
  padding-bottom: 10px;
}
.member_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}
article{
  width: 18%;
  background-color: white;
  margin: 0.55em;
  text-align: center;
  border-radius: 2%;
  padding: 15px 0;
  box-shadow: -1px 12px 13px 2px rgb(2 5 3 / 54%);
}

article:hover{
  transform: scale(1.03);
  background: linear-gradient(135deg, #f1f7f9 0%, #c3cfe2 100%);
}
.member_img{
  border-radius: 50%;
    max-width: 50%;
    height: auto;
}
.member_name{
  display: inherit;
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: bold;
    margin: 5px 0;
}
.member_name:hover{
  color: #fff;;
}

.designation{
  font-size: 20px;
    line-height: 28px;
    color: grey;
    margin-top: 15px;
}

.education{
  font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 6px 0;
}
a.member_contact{
  display: inherit;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    margin: 3% 15%;
    padding: 8px 0;
}
social a{
  text-decoration: none;
}
social a.fa{
  color: black;
}
social a.fa:hover{
  color: #fff;
}
#contact_img {
  max-width: 20%;
  height: auto;
  margin-top: 5%;
}
.contact_section {
  padding: 50px;
  margin-right: 30%;
  margin-left: 30%;
  text-align: center;
  border-radius: 1.5%;
}
.contact_section a:link {
  text-decoration: none;
}

.contact_section h3 {
  font-size: 2em;
  color: #004f7d;
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}
.contact_form {
  margin: 0 20px 0 0;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 5px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Product Sans", sans-serif;
}

input[type="submit"] {
  background-color: #004f7d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Product Sans", sans-serif;
  width: 30%;
}

input[type="submit"]:hover {
  background-color: #00ade5;
}
footer {
  display: block;
  background-color: #212121;

  text-align: center;
  padding: 1%;
  border-radius: 10px;
  margin: 0.5%;
}
.footer_text span {
  color: gray;
}
.footer_text {
  margin-bottom: 1rem;
  line-height: 1.7em;
  font-size: 1em;
  color: #eceff1;
  text-align: center;
  text-transform: none;
}

ol.contributors_list li {
  margin: 15px 0;
  padding-right: 10px;
}
ol.contributors_list {
  column-count: 2;
  padding-bottom: 4%;
  margin-left: 5%;
  color: #00ade5;
}
ol.contributors_list li a {
  color: #004f7d;
  text-decoration: none;
}
ol.contributors_list li a:hover {
  color: #00ade5;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  #banner {
    height: 60%;
  }
  ul.header-menu li {
    font-size: small;
    margin-left: 10px;
  }
  .contact_section {
    padding: 20px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 30%;
  }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  #banner {
    height: 60%;
  }

  article{
    width: 42%;
  }

  #contact_img {
    max-width: 20%;
    height: auto;
  }
  .contact_section {
    padding: 20px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 30%;
  }
  ul.header-menu li {
    font-size: small;
    margin-left: 10px;
  }
  ol.contributors_list {
    column-count: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    padding-top: 40%;
  }
  .banner_name {
    font-size: 2em;
    color: #fff;
  }
  .logo {
    display: none;
  }

  .heading {
    font-size: 1.5em;

    font-weight: 900;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li a {
    display: block;
    text-decoration: none;
    font-size: medium;
  }
   
  article{
    width: 100%;
  }

  .contact_section {
    padding: 10px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 30%;
  }
  ol.contributors_list {
    column-count: 1;
  }
  .contributors h3 {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
